In [2]:
%load_ext sql
import pandas as pd
import sqlite3 as sql

In [4]:
%sql sqlite:///CourseDataWarehouse.db
conn_dw = sql.connect('CourseDataWarehouse.db')

In [50]:
%%sql
SELECT Term,CatalogID,Title,
                COUNT(DISTINCT Section) AS NumSections,  
                COUNT(DISTINCT InstructorID) AS TotalInstructors,
                ROUND(COUNT(DISTINCT Section) / COUNT(DISTINCT InstructorID),5) as InstructorToSectionRatio
FROM CATALOG_DIMENSION
    LEFT JOIN FACT_TABLE USING(CourseID)
    LEFT JOIN TIME_DIMENSION USING(CourseMeetingID)
    LEFT JOIN COURSE_DIMENSION USING(CourseOfferingID)
    LEFT JOIN INSTRUCTOR_DIMENSION USING(InstructorID)
WHERE Term LIKE '%2018' OR Term LIKE '%2019'
GROUP BY Term,CatalogID
ORDER BY NumSections DESC
LIMIT 10;

 * sqlite:///CourseDataWarehouse.db
Done.

[('Fall2018', 'EN 0011', 'Texts and Contexts I: Writing as Craft and Inquiry', 50, 27, 1.0),
 ('Spring2018', 'EN 0012', 'Texts and Contexts II: Writing About Literature', 50, 27, 1.0),
 ('Spring2019', 'EN 0012', 'Texts and Contexts II: Writing About Literature', 49, 25, 1.0),
 ('Fall2018', 'EC 0011', 'Introduction to Microeconomics', 23, 11, 2.0),
 ('Fall2018', 'PH 0101', 'Introduction to Philosophy', 21, 12, 1.0),
 ('Spring2019', 'EC 0012', 'Introduction to Macroeconomics', 21, 10, 2.0),
 ('Fall2018', 'NS 0305C', 'Mental Health Nursing Clinical', 19, 5, 3.0),
 ('Spring2018', 'EC 0012', 'Introduction to Macroeconomics', 19, 9, 2.0),
 ('Spring2019', 'NS 0323C', 'Pediatric Nursing Clinical', 19, 6, 3.0),
 ('Spring2018', 'PH 0101', 'Introduction to Philosophy', 18, 11, 1.0)]

In [31]:
%%sql
DROP VIEW Colleges;
CREATE VIEW Colleges AS
SELECT CatalogID,
        CourseTitle
        Section,
        Term,
        Capacity,
        Actual,
        CASE 
            WHEN CatalogID LIKE 'AC%' THEN 'Business'
            WHEN CatalogID LIKE 'EC%' THEN 'Business'
            WHEN CatalogID LIKE 'FI%' THEN 'Business'
            WHEN CatalogID LIKE 'IS%' THEN 'Business'
            WHEN CatalogID LIKE 'MG%' THEN 'Business'
            WHEN CatalogID LIKE 'MK%' THEN 'Business'
            ELSE 'Not Business'
            END AS 'College'
FROM CATALOG_DIMENSION
    LEFT JOIN FACT_TABLE USING(CourseID)
    LEFT JOIN TIME_DIMENSION USING(CourseMeetingID)
    LEFT JOIN COURSE_DIMENSION USING(CourseOfferingID)
WHERE Term = 'Spring2019'
GROUP BY CatalogID
ORDER BY CatalogID;

 SELECT   
   NumBusinessCourse/TotalNumCourse*100 AS PctBusinessCourse
    (
        SELECT COUNT(College)
        FROM Colleges
        GROUP BY College
        HAVING College='Business'
    ) AS NumBusinessCourse,
    (
        SELECT COUNT (*)
        FROM Colleges
    ) AS TotalNumCourse
FROM Colleges;

 * sqlite:///CourseDataWarehouse.db
Done.
Done.
(sqlite3.OperationalError) near "(": syntax error
[SQL: SELECT
   NumBusinessCourse/TotalNumCourse*100 AS PctBusinessCourse
    (
        SELECT COUNT(College)
        FROM Colleges
        GROUP BY College
        HAVING College='Business'
    ) AS NumBusinessCourse,
    (
        SELECT COUNT (*)
        FROM Colleges
    ) AS TotalNumCourse
FROM Colleges;]
(Background on this error at: http://sqlalche.me/e/e3q8)