## Import modules & set database connection

In [2]:
%load_ext sql
import pandas as pd
import sqlite3 as sql

%sql sqlite:///CourseData.db
conn = sql.connect('CourseData.db')

## Domain Integrity

In [ ]:
%%sql
SELECT * FROM COURSE_OFFERINGS;
PRAGMA table_info(COURSE_OFFERINGS);

In [ ]:
%%sql
SELECT * FROM COURSE_OFFERINGS
PRAGMA table_info(CATALOG_COURSES);

In [ ]:
%%sql
SELECT * FROM COURSE_MEETINGS;
PRAGMA table_info(COURSE_MEETINGS);

## Entity Integrity

- There should be 4440 Catalog Entries, 15937 Course Offerings, and 284847 Course Meetings. Added the rest of the tables as a "sanity" double check since the 3 mentioned create the "core" of our database.
- With our Entity integrity check we are expecting to match the number of rows within our tables to the number of rows that we inserted into our CourseData.db.

In [3]:
%%sql

SELECT 
    (SELECT Count(*) FROM CATALOG_COURSES) as CatalogCourses,
    (SELECT Count(*) FROM COURSE_OFFERINGS) as CourseOfferings,
    (SELECT Count(*) FROM COURSE_MEETINGS) as CourseMeetings,
    (SELECT Count(*) FROM PROGRAMS) as Programs,
    (SELECT Count(*) FROM TERM_TO_CATALOG_YEAR) as TermToCatYear,
    (SELECT Count(*) FROM COURSE_INSTRUCTORS) as Course_Instructors,
    (SELECT Count(*) FROM COURSE_LOCATIONS) as Course_Locations   
    ;

 * sqlite:///CourseData.db
Done.

[(4440, 15937, 284847, 83, 7, 1095, 207)]

## Relational Integrity

- Here we are joining all of the tables within our ERD and utilizing fields from different tables to show a high level example of what is possible to derive from our database

In [ ]:
%%sql

SELECT Name as ProfessorName,Term,Section,Title as CourseTitle,substr(StartDateTime,1,10) as CourseDate,substr(StartDateTime,-8) as CourseStartTime,substr(EndDateTime,-8) as CourseEndTime,LocationCode as Location,substr(Term,-4) as Year 
FROM COURSE_OFFERINGS
    LEFT JOIN COURSE_INSTRUCTORS ON (COURSE_OFFERINGS.PrimaryInstructorID = COURSE_INSTRUCTORS.InstructorID)
    LEFT JOIN TERM_TO_CATALOG_YEAR USING(Term)
    LEFT JOIN CATALOG_COURSES USING(CourseID)
    LEFT JOIN PROGRAMS USING(ProgramID)
    LEFT JOIN COURSE_MEETINGS USING(CourseOfferingID)
    LEFT JOIN COURSE_LOCATIONS USING(LocationID)
WHERE Name LIKE '%Huntley'
ORDER BY Term DESC
LIMIT 10;