In [67]:
%load_ext sql
import pandas as pd
import sqlite3 as sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [68]:
%sql sqlite:///CourseDataWarehouse.db
conn_dw = sql.connect('CourseDataWarehouse.db')

In [53]:
%%sql
SELECT Term,CatalogID,Title,
                ROUND(COUNT(DISTINCT Section),2) AS NumSections,  
                ROUND(COUNT(DISTINCT InstructorID),2) AS TotalInstructors,
                ROUND(COUNT(DISTINCT Section) / COUNT(DISTINCT InstructorID),2) as InstructorToSectionRatio
FROM CATALOG_DIMENSION
    LEFT JOIN FACT_TABLE USING(CourseID)
    LEFT JOIN TIME_DIMENSION USING(CourseMeetingID)
    LEFT JOIN COURSE_DIMENSION USING(CourseOfferingID)
    LEFT JOIN INSTRUCTOR_DIMENSION USING(InstructorID)
WHERE Term LIKE '%2018'
GROUP BY Term,CatalogID
ORDER BY NumSections DESC
LIMIT 10;

 * sqlite:///CourseDataWarehouse.db
Done.

[('Fall2018', 'EN 0011', 'Texts and Contexts I: Writing as Craft and Inquiry', 50.0, 27.0, 1.0),
 ('Spring2018', 'EN 0012', 'Texts and Contexts II: Writing About Literature', 50.0, 27.0, 1.0),
 ('Fall2018', 'EC 0011', 'Introduction to Microeconomics', 23.0, 11.0, 2.0),
 ('Fall2018', 'PH 0101', 'Introduction to Philosophy', 21.0, 12.0, 1.0),
 ('Fall2018', 'NS 0305C', 'Mental Health Nursing Clinical', 19.0, 5.0, 3.0),
 ('Spring2018', 'EC 0012', 'Introduction to Macroeconomics', 19.0, 9.0, 2.0),
 ('Spring2018', 'PH 0101', 'Introduction to Philosophy', 18.0, 11.0, 1.0),
 ('Fall2018', 'MA 0119', 'Applied Calculus I', 17.0, 13.0, 1.0),
 ('Fall2018', 'AC 0011', 'Introduction to Financial Accounting', 16.0, 8.0, 2.0),
 ('Spring2018', 'NS 0305C', 'Mental Health Nursing Clinical', 16.0, 7.0, 2.0)]

In [91]:
%%sql
SELECT Term, COUNT(DISTINCT c.CourseOfferingID) AS CourseCount, COUNT(DISTINCT InstructorID) as InstructorsCount
FROM TIME_DIMENSION
    LEFT JOIN FACT_TABLE USING(CourseMeetingID)
    LEFT JOIN COURSE_DIMENSION AS c USING(CourseOfferingID)
    LEFT JOIN INSTRUCTOR_DIMENSION USING(InstructorID)
WHERE Term LIKE 'Fall%' Or Term LIKE 'Spring2%'
GROUP BY Term
ORDER BY CourseDate DESC
LIMIT 100

 * sqlite:///CourseDataWarehouse.db
Done.

[('Spring2019', 1249, 527),
 ('Fall2018', 1349, 557),
 ('Spring2018', 1187, 513),
 ('Fall2017', 1306, 542),
 ('Spring2017', 1201, 519),
 ('Fall2016', 1305, 545),
 ('Spring2016', 1177, 518),
 ('Fall2015', 1300, 537),
 ('Spring2015', 1188, 522),
 ('Fall2014', 1294, 542)]

In [93]:
%%sql
SELECT DISTINCT Name,
        Term,
        COUNT(DISTINCT CatalogID) AS CatalogsTaught,
        (
         SELECT COUNT(DISTINCT CatalogID) AS TotCatalog
            FROM CATALOG_DIMENSION
                LEFT JOIN FACT_TABLE USING (CourseID)
                LEFT JOIN TIME_DIMENSION USING (CourseMeetingID)
            WHERE Term = 'Spring2019'
        ) AS CatalogTotal
FROM CATALOG_DIMENSION
    LEFT JOIN FACT_TABLE USING (CourseID)
    LEFT JOIN INSTRUCTOR_DIMENSION USING (InstructorID)
    LEFT JOIN TIME_DIMENSION USING (CourseMeetingID)
WHERE Term ='Spring2019'
GROUP BY Name
ORDER BY CatalogsTaught DESC
LIMIT 20;

 * sqlite:///CourseDataWarehouse.db
Done.

[('Shannon P.  Gerry', 'Spring2019', 8, 609),
 ('Jillian E.  Smith-Carpenter', 'Spring2019', 6, 609),
 ('Anne E  Campbell', 'Spring2019', 5, 609),
 ('Erica E.  Hartwell', 'Spring2019', 5, 609),
 ('Mark D.  Ramsey', 'Spring2019', 5, 609),
 ('Michael Walden  Creane', 'Spring2019', 5, 609),
 ('Tracey   Robert', 'Spring2019', 5, 609),
 ('Amanda S.  Harper-Leatherman', 'Spring2019', 4, 609),
 ('Ayanna   Eastman', 'Spring2019', 4, 609),
 ('Christa Palancia  Esposito', 'Spring2019', 4, 609),
 ('Ellen M.  Lee', 'Spring2019', 4, 609),
 ('Jeffrey N.  Denenberg', 'Spring2019', 4, 609),
 ('Karen Joyce  Corcoran', 'Spring2019', 4, 609),
 ('Kathryn   Phillips', 'Spring2019', 4, 609),
 ('Lawrence Kraig  Steffen', 'Spring2019', 4, 609),
 ('Mehmet   Cansoy', 'Spring2019', 4, 609),
 ('Michael P.  Pagano', 'Spring2019', 4, 609),
 ('Paula   Gill Lopez', 'Spring2019', 4, 609),
 ('Qin   Zhang', 'Spring2019', 4, 609),
 ('Rose P.  Rodrigues', 'Spring2019', 4, 609)]