In [4]:
%load_ext sql
import pandas as pd
import sqlite3 as sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [5]:
%sql sqlite:///CourseDataWarehouse.db
conn_dw = sql.connect('CourseDataWarehouse.db')

In [14]:
%%sql
SELECT CatalogID,
                COUNT(Section) AS NumSections, 
                CourseTitle, 
                Term,
                SUM(Capacity) AS TotalCapacity,
                SUM(Actual) AS TotalActual,
                SUM(Remaining) AS TotalRemaining
FROM CATALOG_DIMENSION
    LEFT JOIN FACT_TABLE USING(CourseID)
    LEFT JOIN TIME_DIMENSION USING(CourseMeetingID)
    LEFT JOIN COURSE_DIMENSION USING(CourseOfferingID)
GROUP BY CatalogID, Term
ORDER BY NumSections DESC
LIMIT 10;

 * sqlite:///CourseDataWarehouse.db
Done.

[('EN 0011', 1400, 'Texts and Contexts I: Writing as Craft and Inquiry', 'Fall2018', 22344, 25872, -3528),
 ('EN 0012', 1353, 'Texts and Contexts II: Writing About Literature', 'Spring2018', 25707, 24185, 1522),
 ('EN 0011', 1274, 'Texts and Contexts I: Writing as Craft and Inquiry', 'Fall2017', 22724, 23608, -884),
 ('EN 0012', 1227, 'Texts and Contexts II: Writing About Literature', 'Spring2019', 23313, 23313, 0),
 ('PH 0101', 637, 'Introduction to Philosophy', 'Fall2017', 15925, 15366, 559),
 ('EC 0011', 630, 'Introduction to Microeconomics', 'Fall2018', 10556, 15372, -4816),
 ('HI 0010', 611, 'Origins of the Modern World Since 1500', 'Fall2017', 13975, 13533, 442),
 ('PH 0101', 588, 'Introduction to Philosophy', 'Fall2018', 14700, 14308, 392),
 ('MA 0217', 567, 'Accelerated Statistics', 'Spring2019', 15448, 14954, 494),
 ('MA 0119', 560, 'Applied Calculus I', 'Fall2018', 16800, 15414, 1386)]

In [31]:
%%sql
DROP VIEW Colleges;
CREATE VIEW Colleges AS
SELECT CatalogID,
        CourseTitle
        Section,
        Term,
        Capacity,
        Actual,
        CASE 
            WHEN CatalogID LIKE 'AC%' THEN 'Business'
            WHEN CatalogID LIKE 'EC%' THEN 'Business'
            WHEN CatalogID LIKE 'FI%' THEN 'Business'
            WHEN CatalogID LIKE 'IS%' THEN 'Business'
            WHEN CatalogID LIKE 'MG%' THEN 'Business'
            WHEN CatalogID LIKE 'MK%' THEN 'Business'
            ELSE 'Not Business'
            END AS 'College'
FROM CATALOG_DIMENSION
    LEFT JOIN FACT_TABLE USING(CourseID)
    LEFT JOIN TIME_DIMENSION USING(CourseMeetingID)
    LEFT JOIN COURSE_DIMENSION USING(CourseOfferingID)
WHERE Term = 'Spring2019'
GROUP BY CatalogID
ORDER BY CatalogID;

 SELECT   
   NumBusinessCourse/TotalNumCourse*100 AS PctBusinessCourse
    (
        SELECT COUNT(College)
        FROM Colleges
        GROUP BY College
        HAVING College='Business'
    ) AS NumBusinessCourse,
    (
        SELECT COUNT (*)
        FROM Colleges
    ) AS TotalNumCourse
FROM Colleges;

 * sqlite:///CourseDataWarehouse.db
Done.
Done.
(sqlite3.OperationalError) near "(": syntax error
[SQL: SELECT
   NumBusinessCourse/TotalNumCourse*100 AS PctBusinessCourse
    (
        SELECT COUNT(College)
        FROM Colleges
        GROUP BY College
        HAVING College='Business'
    ) AS NumBusinessCourse,
    (
        SELECT COUNT (*)
        FROM Colleges
    ) AS TotalNumCourse
FROM Colleges;]
(Background on this error at: http://sqlalche.me/e/e3q8)