## Import modules & set database connection

In [1]:
%load_ext sql
import pandas as pd
import sqlite3 as sql
%sql sqlite:///CourseDataWarehouse.db
conn_dw = sql.connect('CourseDataWarehouse.db')

## Domain Integrity
- Only need to check Fact table since the data within the Dimension tables has been checked during the ETL process for CourseData.db.
- Fact table does not contain a PK, it contains all of the FKs that reference each Dimension table.
- The CourseMeetingID has an applied 'NotNull' constraint due to it being the most used Foreign Key. This way,

In [14]:
%%sql
SELECT * FROM FACT_TABLE;
PRAGMA table_info(FACT_TABLE);

 * sqlite:///CourseDataWarehouse.db
Done.
Done.

[(0, 'CourseMeetingID', 'INTEGER', 1, None, 0),
 (1, 'CourseOfferingID', 'INTEGER', 0, None, 0),
 (2, 'CourseID', 'INTEGER', 0, None, 0),
 (3, 'LocationID', 'INTEGER', 0, None, 0),
 (4, 'InstructorID', 'INTEGER', 0, None, 0),
 (5, 'TotalCatalogs', 'INTEGER', 0, None, 0),
 (6, 'TotalClassSections', 'INTEGER', 0, None, 0),
 (7, 'TotalInstructors', 'INTEGER', 0, None, 0),
 (8, 'TotalClassrooms', 'INTEGER', 0, None, 0)]

## Entity Integrity

In [3]:
%%sql
SELECT
    (SELECT COUNT(*) FROM FACT_TABLE) as FactTableCount,
    (SELECT COUNT(*) FROM INSTRUCTOR_DIMENSION) as InstructorDimCount,
    (SELECT COUNT(*) FROM COURSE_DIMENSION) as CourseDimCount,
    (SELECT COUNT(*) FROM TIME_DIMENSION) as TimeDimCount,
    (SELECT COUNT(*) FROM LOCATION_DIMENSION) as LocationDimCount,
    (SELECT COUNT(*) FROM CATALOG_DIMENSION) as CatalogDimCount;

 * sqlite:///CourseDataWarehouse.db
Done.

[(284847, 1095, 15937, 284847, 207, 4440)]

## Relational Integrity
- Check that ensures our tables can all be joined and queried appropriately using PK --> FK pairs.
- We use a query that requires every table in our ERD to be joined in order to confirm its relational integrity.

In [13]:
%%sql
SELECT CourseID,Name,Term,Section,Title,ProgramName,CourseDate,CourseStartTime,CourseEndTime,LocationCode,Year
FROM TIME_DIMENSION
    JOIN FACT_TABLE USING(CourseMeetingID)
    JOIN INSTRUCTOR_DIMENSION USING(InstructorID)
    JOIN CATALOG_DIMENSION USING(CourseID)
    JOIN COURSE_DIMENSION USING(CourseOfferingID)
    JOIN LOCATION_DIMENSION USING(LocationID)
WHERE Name LIKE '%Huntley'
LIMIT 10;

 * sqlite:///CourseDataWarehouse.db
Done.

[(922, 'Christopher L.  Huntley', 'Fall2017', '01', 'Systems Analysis and Logical Design', 'Information Systems', '2017-09-05', '12:30', '13:45', 'DSB 110A', '2017'),
 (922, 'Christopher L.  Huntley', 'Fall2017', '01', 'Systems Analysis and Logical Design', 'Information Systems', '2017-09-08', '12:30', '13:45', 'DSB 110A', '2017'),
 (922, 'Christopher L.  Huntley', 'Fall2017', '01', 'Systems Analysis and Logical Design', 'Information Systems', '2017-09-12', '12:30', '13:45', 'DSB 110A', '2017'),
 (922, 'Christopher L.  Huntley', 'Fall2017', '01', 'Systems Analysis and Logical Design', 'Information Systems', '2017-09-15', '12:30', '13:45', 'DSB 110A', '2017'),
 (922, 'Christopher L.  Huntley', 'Fall2017', '01', 'Systems Analysis and Logical Design', 'Information Systems', '2017-09-19', '12:30', '13:45', 'DSB 110A', '2017'),
 (922, 'Christopher L.  Huntley', 'Fall2017', '01', 'Systems Analysis and Logical Design', 'Information Systems', '2017-09-22', '12:30', '13:45', 'DSB 110A', '2017'),
 (922, 'Christopher L.  Huntley', 'Fall2017', '01', 'Systems Analysis and Logical Design', 'Information Systems', '2017-09-26', '12:30', '13:45', 'DSB 110A', '2017'),
 (922, 'Christopher L.  Huntley', 'Fall2017', '01', 'Systems Analysis and Logical Design', 'Information Systems', '2017-09-29', '12:30', '13:45', 'DSB 110A', '2017'),
 (922, 'Christopher L.  Huntley', 'Fall2017', '01', 'Systems Analysis and Logical Design', 'Information Systems', '2017-10-03', '12:30', '13:45', 'DSB 110A', '2017'),
 (922, 'Christopher L.  Huntley', 'Fall2017', '01', 'Systems Analysis and Logical Design', 'Information Systems', '2017-10-06', '12:30', '13:45', 'DSB 110A', '2017')]