## Import modules & set database connection

In [1]:
%load_ext sql
import pandas as pd
import sqlite3 as sql
%sql sqlite:///CourseDataWarehouse.db
conn_dw = sql.connect('CourseDataWarehouse.db')

## Domain Integrity

## Entity Integrity

In [2]:
%%sql
SELECT
    (SELECT COUNT(*) FROM FACT_TABLE) as FactTableCount,
    (SELECT COUNT(*) FROM INSTRUCTOR_DIMENSION) as InstructorDimCount,
    (SELECT COUNT(*) FROM COURSE_DIMENSION) as CourseDimCount,
    (SELECT COUNT(*) FROM TIME_DIMENSION) as TimeDimCount,
    (SELECT COUNT(*) FROM LOCATION_DIMENSION) as LyocationDimCount,
    (SELECT COUNT(*) FROM CATALOG_DIMENSION) as CatalogDimCount;

 * sqlite:///CourseDataWarehouse.db
Done.

[(284847, 1095, 15937, 284847, 207, 4440)]